{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <p class="article-content">This website can be used to communicate and collaborate with ppl whoever has the access to the webpage</p>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <p class="article-content">A project presentation by , Kowshic Shlok Geethanjali</p>
        </div>
    </article>
{% endblock content %}